<!doctype html>
<html>

<head>
    <title>Handlebars demo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="styles/my-styles.css">
</head>

<body>

    {{!Might be a good idea to have our navbar in our main layout, so it's replicated across pages.}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Web Lab 13 - Handlebars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {{#if home}}active{{/if}}" href="/">Home</a>
                <a class="nav-item nav-link {{#if about}}active{{/if}}" href="/about">About</a>
                <a class="nav-item nav-link {{#if contact}}active{{/if}}" href="/contact">Contact</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">

        {{!This will be filled in with whatever view we want.}} {{{body}}}

    </div>
</body>

</html>