<!doctype html>
<html>

<head>
    <title>Handlebars demo</title>
    {{!Layouts are great for putting "common" stuff in one place. For example, in this case we want all our pages to contain
    links to jQuery and Boostrap. }}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container mt-4">

        {{!This will be replaced by the content of the actual view.}}
        {{{body}}}

    </div>
</body>

</html>